.main-container {
  padding: 45px;
}

.heading {
  margin-left: 120px;
  font-size: 35px;
  font-weight: 700;
  color: #1e293b;
  font-family: 'Roboto';
}

.courses-container {
  list-style-type: none;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
